.section {
  padding-top: 94px;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
}

h1,
h2,
h3 {
  color: #212121;
  margin: 0;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: #212121;
}

a {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current.link {
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.span {
  color: #2196f3;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header :not(:last-child) {
  margin-right: 50px;
}

.nav-header .link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__items a {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav__items :hover,
.nav__items :focus {
  color: #2196f3;
}

.contakts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contakts a {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
}

.contakts :hover,
.contakts :focus {
  color: #2196f3;
  fill: #2196f3;
}

.contakts__mail:not(:last-child) {
  margin-right: 50px;
}

.contakts__mail a {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link.link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt__icon {
  width: 16px;
  height: 17px;
  fill: currentColor;
  margin-right: 10px;
}

.logo {
  color: #212121;
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  margin-right: 93px;
}

.span {
  color: #2196f3;
}

.hero-section {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
}

.hero__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 30px;
}

.hero__button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus,
.hero__button:hover {
  color: #ffffff;
  background-color: #188ce8;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
}

.features__title {
  margin-right: 30px;
  width: 270px;
}

.features__title:last-child {
  margin-right: 0;
}

.features__img {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.features__icon {
  width: 65px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: auto;
  content: '';
}

.features__main {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
}

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture-item {
  position: relative;
  margin-right: 30px;
}

.picture-item:last-child {
  margin-right: 0;
}

.picture__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.bottom__title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section-team {
  text-align: center;
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__inner:nth-last-child(-n + 1) {
  margin-right: 0;
}

.team__inner:last-child {
  margin-right: 0;
}

.team__inner {
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__inner--card-color {
  background-color: #ffffff;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__inner {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  margin-bottom: 10px;
}

.card__paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.box-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icons:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.social__item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icons :focus,
.social__icons :hover {
  background-color: #2196f3;
}

.social__icons:not(:last-child) {
  margin-right: 10px;
}

.social__icons :hover .social__item {
  fill: #ffffff;
}

.social__icons :focus .social__item {
  fill: #ffffff;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 50px;
}

.container-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client {
  fill: #afb1b8;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.container-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  box-sizing: border-box;
  color: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client__item {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item {
  width: 106px;
  height: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link {
  text-decoration: none;
  color: #212121;
}

.logo-footer {
  color: #ffffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.span {
  color: #2196f3;
}

.adres {
  font-style: normal;
}

.adress__point {
  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
  margin-bottom: 9px;
}

.adress-footer :hover,
:focus {
  color: #2196f3;
}

.adress__item {
  margin-bottom: 9px;
}

.adress__item:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

.adress__mail,
.adress__tel {
  font-size: 14px;
  line-height: 1.7;
  line-height: 1.46;
  text-align: left;
  vertical-align: top;
  color: white;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
  margin-left: 70px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social__items:not(:last-child) {
  margin-right: 10px;
}

.footer-social__items:focus,
.footer-social__items:hover {
  background-color: #2196f3;
}

.footer-social__items {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box {
  margin-left: 93px;
}

.footer__lable {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  padding-left: 15px;
}

.footer__input::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.button__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  margin-left: 12px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
}

.footer-button__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.backdop-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdop-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 40px;
}

.modal__button {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-top: 40px;
  margin-bottom: 12px;
}

.for-fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-bottom: 4px;
}

.form-box {
  position: relative;
  color: #212121;
  margin-bottom: 10px;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: rgba(117, 117, 117, 0.5);
}

.form__input {
  position: relative;
  margin: 0;
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: currentColor;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover ~ .form__icon {
  fill: #2196f3;
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__input:hover,
.form__input:focus {
  border: 1px solid #2196F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form__icon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__inner {
  width: 18px;
  height: 18px;
}

.for-fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-bottom: 4px;
}

.textarea-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 448px;
  height: 120px;
}

.comenty {
  outline: transparent;
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  resize: none;
  margin-bottom: 20px;
  color: currentColor;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.footer__input::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.checkbox-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.checkbox:focus ~ .checkbox__icon {
  border: 2px solid #2196F3;
}

.checkbox:focus {
  opacity: 0;
}

.checkbox {
  position: absolute;
  left: 0;
  width: 16px;
  height: 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__icon {
  position: absolute;
  left: 52px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .checkbox__icon {
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: content-box;
  border-color: #2196f3;
  background-color: #2196f3;
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.clouz-button {
  display: block;
  margin-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clouz-button:hover,
.clouz-button:focus {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.clouz__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  color: #FFFFFF;
}

.rules-link {
  color: #2196f3;
}

.section-portfolio {
  margin-bottom: 94px;
}

.section-portfoliop {
  color: var(--paragraf-colore);
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-box__button {
  font-family: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: box-shadow, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
}

.nav-box__button:hover,
.nav-box__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-box__item {
  margin-right: 8px;
}

.nav-box__item:last-child {
  margin-right: 0;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56px;
}

.fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.foto__items {
  margin: 15px;
  display: block;
}

.foto__items .foto__link:focus,
.foto__items .foto__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto__link {
  display: block;
}

.foto__link:hover ::before {
  opacity: 1;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.foto__link:hover .overlay-card {
  opacity: 1;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.foto__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.foto__card::before {
  position: absolute;
  content: "";
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foto__img {
  background-color: #eeeeee;
  display: block;
}

.overlay-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-card .overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.foto-bottom {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 20px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  display: block;
}

.foto-bottom__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.foto-bottom__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */