@import"./utils/_vars";
@import"./utils/general_classes";
@import"./components/header";
@import"./components/hero_section";
@import"./components/features-section";
@import"./components/section_work";
@import"./components/section-team";
@import"./components/company";
@import"./components/footer";
@import"./components/portfolio_nav";
@import"./components/foto_section";