.footer-container {
    display: flex;
    align-items: baseline;
}
.footer {
    background-color: $footer-black;
    padding-top: 60px;
    padding-bottom: 60px;
}
.link {
    text-decoration: none;
    color: $tittle-colore;
}
.logo-footer {
    color: #ffffffff;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
}
.span {
    color: $main-blue;
}
.adres {
    font-style: normal;
}
.adress__point {
    font-size: 14px;
    line-height: 1.7;
    line-height: 1.46;
    text-align: left;
    vertical-align: top;
    color: #ffffff;
    margin-bottom: 9px;
}
.adress-footer :hover,
:focus {
    color: $main-blue;
}
.adress__item {
    margin-bottom: 9px;
    &:nth-last-child(-n + 1) {
        margin-bottom: 0;
    }
}
.adress__mail,
.adress__tel {
    font-size: 14px;
    line-height: 1.7;
    line-height: 1.46;
    text-align: left;
    vertical-align: top;
    color: rgba(255, 255, 255, 1);
    transition: color $speed-animation;
}
.footer-social {
    margin-left: 70px;
}
.social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $main-bacgraund;
    margin-bottom: 20px;
}
.footer-social__items:not(:last-child) {
    margin-right: 10px;

}
.footer-social__items:focus,
.footer-social__items:hover {
        background-color: $main-blue;
    }
.footer-social__items {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color $speed-animation;
}
.footer__icon {
    width: 20px;
    height: 20px;
    fill: $main-bacgraund;
    transition: fill $speed-animation;
}
.footer-box {
    margin-left: 93px;
}
.footer__lable {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-bacgraund;
}
.footer__form {
    display: flex;
}
.footer__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $footer-black;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    padding-left: 15px;
}

.footer__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.6);
}
.button__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $main-blue;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: $main-bacgraund;

}
.footer-button__icon {
    width: 24px;
    height: 24px;
    fill: $main-bacgraund;
    margin-left: 10px;
}
.backdop-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity $speed-animation, visibility $speed-animation;  
}
.backdop-modal.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.modal {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: $main-bacgraund;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 40px;
}
.modal__button {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
}
.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
    fill: $main-blue;
}
.modal__icon {
    width: 11px;
    height: 11px;
    fill: $tittle-colore;
    transition: fill $speed-animation;
}
.madal__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $tittle-colore;
    margin-top: 40px;
    margin-bottom: 12px;
}
.for-fild {
    display: flex;
    justify-content: left;
    padding-bottom: 4px;
}
.form-box {
    position: relative;
    color: #212121;
    margin-bottom: 10px;
}

::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    color: rgba(117, 117, 117, 0.5);
}
.form__input {
    position: relative;
    margin: 0;
    display: block;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    color: currentColor;
    transition: border $speed-animation;
}
.form__input:hover ~ .form__icon {
    fill: $main-blue;

}

.form__input:focus ~ .form__icon {
    fill: $main-blue;
}

.form__input:hover,
.form__input:focus {
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 4px;
}
.form__icon {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: $tittle-colore;
    transition: fill $speed-animation;
}
.form__inner {
    width: 18px;
    height: 18px;
}
.for-fild {
    display: flex;
    justify-content: left;
    padding-bottom: 4px;
}
.textarea-box {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    height: 120px
}
.comenty {
    outline: transparent;
    width: 448px;
    height: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    resize: none;
    margin-bottom: 20px;
    color: currentColor;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}
.footer__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.6);
}
.checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.checkbox:focus~.checkbox__icon {
    border: 2px solid #2196F3;
}

.checkbox:focus {
    opacity: 0;
}
.checkbox {
    position: absolute;
    left: 0;
    width: 16px;
    height: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.checkbox__icon {
    position: absolute;
    left: 52px;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $tittle-colore;
    border-radius: 2px;
    transition: border $speed-animation;
}
.checkbox:checked~.checkbox__icon {
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: content-box;
    border-color: $main-blue;
    background-color: $main-blue;
}
.checkbox__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.clouz-button {
    display: block;
    margin-bottom: 40px;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: $main-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    transition: background-color $speed-animation;
}

.clouz-button:hover,
.clouz-button:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.clouz__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    color: #FFFFFF;
}
.rules-link {
    color: $main-blue;
}