.section-portfolio {
    margin-bottom: 94px;
    &p{
        color: var(--paragraf-colore);
}}
.nav-box {
    display: flex;
    justify-content: center;
    
}
.nav-box__button {
    font-family: inherit;
    background-color: #f5f4fa;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: box-shadow,
    background-color, $speed-animation;
}
.nav-box__button:hover,
.nav-box__button:focus {
    color: $main-bacgraund;
    background-color: $main-blue;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-box__item {
    margin-right: 8px;
    &:last-child {
        margin-right: 0;
    }
}