.section {
    padding-top: 94px;
}
    body {
        background-color: $main-bacgraund;
        color: $paragraf-colore;
        font-family: roboto, sans-serif;
    }
    h1,
    h2,
    h3 {
        color: $tittle-colore;
        margin: 0;
    }
    ul,
    li,
    p {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .link {
        text-decoration: none;
        color: $tittle-colore;
    }
    
    a {
        transition: $speed-animation;
    }
    .current.link {
        position: relative;
    
    }
    .current::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        bottom: 0;
        border-radius: 2px;
        background-color: $main-blue;
    }
    .section__title {
        color: $tittle-colore;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.7;
        text-align: center;
        margin-bottom: 50px;
    }
    .container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }